* {
    box-sizing: border-box;
  }
  
  a:hover{
    background-color: rgb(114, 114, 146);

  }

  input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #4527A0 ;
    float: left;
    width: 80%;
    background: #f1f1f1;
    outline: none;
  }
  @media screen and (max-width: 800px) {
    .col-sm-hide {
      display: none;
    }
 
  }

  @media screen and (min-width: 800px) {
    .table {
      margin-top:3%;margin-left:20%;width:78%;
    }
  }
  
  