
<form class="example"  style="margin-top:2%;margin-left:40%;">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div style="margin-top:5%;margin-left:30%;">
  <div style="width:400px;margin-top:20px;float:left">
    Date:
    <select>
      <option value="0">Date</option>
      <option value="1">Today</option>
      <option value="2">Tomorrow</option>
      <option value="3">Select</option>
    </select>
    Priority:
    <select>
      <option value="0">Type</option>
      <option value="1">Low</option>
      <option value="2">Medium</option>
      <option value="3">High</option>
    </select>
  </div>

  <button type="submit" style="margin-left:30%;background: #4527A0;border:1px solid #4527A0;border-radius:2px;color:white;padding:10px 20px 10px 20px">Create Task</button>
</div>
  <table class="table" style="margin-top:3%;margin-left:25%;width:70%;">
    <thead>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Associated With</th>
        <th>Created Date</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
<tr>
    <td>Active</td>
    <td>Send Benefit Review &nbsp; &nbsp;<i class="fa fa-edit"></i> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i>
    </td>
    <td>Amal Roy</td>
    <td>15-04-1998</td>
    <td>15-04-1998</td>
</tr>
<tr>
    <td>Active</td>
    <td>Send Benefit Review &nbsp; &nbsp;<i class="fa fa-edit"></i> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i>
    </td>
    <td>Amal Roy</td>
    <td>15-04-1998</td>
    <td>15-04-1998</td>
</tr>
<tr>
    <td>Active</td>
    <td>Send Benefit Review &nbsp;  &nbsp;<i class="fa fa-edit"></i> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i>
    </td>
    <td>Amal Roy</td>
    <td>15-04-1998</td>
    <td>15-04-1998</td>
</tr>
      <!-- <tr *ngFor="let task of tasks">
        <td>{{task.title}}</td>
        <td>
          <a [routerLink]="['/tasks', task.id]" class="btn btn-info">Detalhes</a>
        </td>
      </tr> -->
    </tbody>
  </table>