
<!-- <form class="example"  style="margin-top:2%;margin-left:40%;">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form> -->
  <div style="margin-top:5%;margin-left:30%;">
  <div style="width:400px;margin-top:20px;float:left">
    Date:
    <select>
      <option value="0">Date</option>
      <option value="1">Today</option>
      <option value="2">Tomorrow</option>
      <option value="3">Select</option>
    </select>
    Priority:
    <select>
      <option *ngFor="let priority of priorities">{{priority}}</option>
    </select>
  </div>
  <app-add-tasks></app-add-tasks>
  <!-- <button type="submit" style="margin-left:30%;background: #4527A0;border:1px solid #4527A0;border-radius:2px;color:white;padding:10px 20px 10px 20px">Create Task</button> -->
</div>
  <table class="table" style="margin-top:3%;margin-left:20%;width:78%;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Priority</th>
        <th>Title</th>
        <th>Associated With</th>
        <th>Created Date</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
<tr *ngFor="let task of tasks;let i =index">
    <td>{{task.id}}</td>
    <td>{{task.priority==1?'Normal':task.priority==2?'Mid':'High'}}</td>
    <td>{{task.message}} &nbsp; &nbsp;<a (click)="editTask(i)"> <i class="fa fa-edit" ></i></a> &nbsp;&nbsp;&nbsp;&nbsp;<a (click)="deleteTask(i)"><i class="fas fa-trash-alt"></a></i>
    </td>
    <td>{{task.assigned_to}}.{{task.assigned_name}}</td>
    <td>{{task.created_on}}</td>
    <td>{{task.due_date}}</td>
</tr>
    </tbody>
  </table>
  