* {
    box-sizing: border-box;
  }
  
  a:hover{
    background-color: rgb(114, 114, 146);

  }


  input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #4527A0 ;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  input[type=text]:active{
    padding: 10px;
    font-size: 17px;
    border: 1px solid #4527A0 ;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

 
  
  