<div style="margin-top:2%;margin-left:25%;">
    <div style="width:400px;margin-top:20px;">
      <select>
        <option value="0">Date</option>
        <option value="1">Today</option>
        <option value="2">Tomorrow</option>
        <option value="3">Select</option>
      </select>
    </div>

  </div>
<table class="table" style="margin-top:3%;margin-left:25%;width:70%;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Low Priority </th>
        <th>Medium Priority</th>
        <th>High Priority</th>
      </tr>
    </thead>
    <tbody>
<tr>
    <td>117</td>
    <td>Amal Roy</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
</tr>
<tr>
    <td>117</td>
    <td>Amal Roy</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
</tr>
<tr>
    <td>117</td>
    <td>Amal Roy</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
</tr>
</tbody>
</table>