
<table class="table" style="margin-top:3%;margin-left:25%;width:70%;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Picture</th>
        <!-- <th>Low Priority </th>
        <th>Medium Priority</th>
        <th>High Priority</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users;let i =index">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td> <img src={{user.picture}} width=50 height=50></td>
    </tr>
</tbody>
</table>