<!-- <div class="wrapper d-flex">
  <div class="sidebar">
      <ul>
          <li><a routerLink="/tasks"><i class="fa fa-home"></i> &nbsp;Dashboard</a></li>
          <li ><a routerLink="/manage-tasks"><i class="fa fa-signal"></i>  &nbsp;  Manage Tasks</a></li>
          <li><a routerLink="/contacts"><i class="fa fa-users"></i> &nbsp;Contacts</a></li>
      </ul>
      <div class="userProfile"> <a href="#"><i class="fa fa-user-circle xyz"></i></a>
          <p class="username">Amal Roy<br><a href="#">Manager</a></p> 
      </div>
  </div>
  
</div> -->
<div class="sidebar">
    <ul>
        <li><a routerLink="/tasks"><i class="fa fa-home"></i> &nbsp;Dashboard</a></li>
        <li ><a routerLink="/manage-tasks"><i class="fa fa-signal"></i>  &nbsp;  Manage Tasks</a></li>
        <li><a routerLink="/contacts"><i class="fa fa-users"></i> &nbsp;Contacts</a></li>
    </ul>
    <!-- <div class="userProfile"> <a href="#"><i class="fa fa-user-circle xyz"></i></a>
        <p class="username">Amal Roy<br><a href="#">Manager</a></p> 
    </div> -->
</div>

<router-outlet></router-outlet>
