

   <a (click)="show()"> <i class="fa fa-edit" ></i></a> 

 <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Update Task</h4>

      </div>
      <div class="modal-body">
                <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                      <div class="row">

                         <div class="col-sm-6">
                            <div class="form-group">
                                  <label>Task ID</label>
                                  <input type="text" formControlName="taskid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.taskid.errors }" />
                                  <div *ngIf="submitted && f.taskid.errors" class="invalid-feedback">
                                        <div *ngIf="f.taskid.errors.required">Task ID is required</div>
                                  </div>
                               </div>
                         </div> 
                         <div class="col-sm-6">
                           <div class="form-group">
                                 <label>Task </label>
                                 <input type="text" formControlName="task" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.task.errors }" />
                                 <div *ngIf="submitted && f.task.errors" class="invalid-feedback">
                                       <div *ngIf="f.task.errors.required">Task is required</div>
                                 </div>
                              </div>
                        </div> 
                         <div class="col-sm-6">
                            <div class="form-group">
                               <label>Associated With</label>
                               <select  formControlName="associatedWith"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.associatedWith.errors }"  >
                                 <option *ngFor="let associatedWith of users" [ngValue]="associatedWith">
                                    {{ associatedWith.name }}
                                 </option>
                              </select>
                               <div *ngIf="submitted && f.associatedWith.errors" class="invalid-feedback">
                                  <div *ngIf="f.associatedWith.errors.required">Associated With is required</div>
                               </div>
                            </div>
                         </div>
                        
                         <div class="col-sm-6">
                            <div class="form-group">
                               <label>Due Date</label>
                             <input type="date" formControlName="dueDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dueDate.errors }" />
            
   
                               <div *ngIf="submitted && f.dueDate.errors" class="invalid-feedback">
                                  <div *ngIf="f.dueDate.errors.required">Due Date is required</div>
                                  <div *ngIf="f.dueDate.errors.dateCheck">Due Date is before Created Date</div>
                               </div>
                            </div>
                         </div>
                         <div class="col-sm-6">
                           <div class="form-group">
                              <label>Due Time</label>
                        <br>
                            <input type="time"formControlName="dueTime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dueTime.errors }"  >
  
                              <div *ngIf="submitted && f.dueTime.errors" class="invalid-feedback">
                                 <div *ngIf="f.dueTime.errors.required">Due Time is required</div>
           
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label>Priority</label>
                              <!-- <input type="text" formControlName="priority" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.priority.errors }" /> -->
                              <select  formControlName="priority"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.priority.errors }"  >
                                 <option *ngFor="let priority of priorities" [ngValue]="priority">
                                    {{priority==1?'Low':priority==2?'Medium':'High'}}
                                 </option>
                              </select>
                              <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">
                                 <div *ngIf="f.priority.errors">Priority is required</div>
                                
                              </div>
                           </div>
                        </div>
             </div>

             <button type="submit" style="background: #4527A0;border:1px solid #4527A0;border-radius:2px;color:white;padding:10px 20px 10px 20px">Update</button>
             <h4 *ngIf="submitStatus">Task Updated Successfully</h4>
            </form>
     
    
 </div>
      <div class="modal-footer">
          <button type="button" style="background: #292725;border:1px solid #4527A0;border-radius:2px;color:white;padding:10px 20px 10px 20px" data-dismiss="modal" (click) = "hide()">Close</button>
      
      </div>
    </div>
  </div>
  </div>